<div class="home-wrapper">
  <div fxLayout="row" class="header-wrapper">
    <app-main-header></app-main-header>
  </div>
  <div fxLayout="row" class="nav-wrapper">
    <app-main-nav></app-main-nav>
  </div>
  <div fxLayout="row" class="banner">
    <div class="banner-text-wrapper">
      <div class="choose-best">Choose the best</div>
      <div class="education">Education for your future !</div>
      <div class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br />
        When an unknown printer took a galley of type and scrambled it to </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between top" class="about-intro common-container">
    <div class="about-intro-img">
      <img src="../../../../assets/images/aboutus-img.jpg">
    </div>
    <div class="about-intro-message">
      <h1 class="title">A Few Words About Us</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like.</p>
      <div class="button-wrapper"><a class="primery-btn" href="#">Learn More</a></div>
    </div>
  </div>
  <div class="spec-wrapper">
    <div fxLayout="row" fxLayoutAlign="space-between top" class="spec-container common-container">
        <div fxFlex="30" fxLayout="row">
          <div class="color-orange">
            <i class="fa fa-cubes"></i>
          </div>
          <div class="spec-des">
            <h3 class="subtitle light-black-font">Certified Teachers</h3>
            <p>Our team consists of more than 20 qualified and experienced teachers and professors ready to help our students with any task.</p>
          </div>
        </div>
        <div fxFlex="30" fxLayout="row">
          <div class="color-orange">
            <i class="fa fa-star"></i>
          </div>
          <div class="spec-des">
            <h3 class="subtitle light-black-font">Featured Programs</h3>
            <p>Our team consists of more than 20 qualified and experienced teachers and professors ready to help our students with any task.</p>
          </div>
        </div>
        <div fxFlex="30" fxLayout="row">
          <div class="color-orange">
            <i class="fa fa-book"></i>
          </div>
          <div class="spec-des">
            <h3 class="subtitle light-black-font">Extensive Library</h3>
            <p>Our team consists of more than 20 qualified and experienced teachers and professors ready to help our students with any task.</p>
          </div>
        </div>
    </div>
  </div>
  <div class="highlighted-section-wrapper">
    <div fxLayout="row" fxLayoutAlign="center center" class="highlighted-section">
      <h3>Get Unlimited Access to <span class="bold">Premium Courses</span> Right Now!</h3>
      <a class="primery-btn get-access-btn" href="#">Get Access</a>
  </div>
  </div>
  <div class="featured-course">
    <div fxLayout="column" fxLayoutAlign="center center" class="course-description common-container">
      <h1>Our Featured Courses</h1>
      <div class="course-des">
        These courses are selected through a rigorous process and uniquely created for each semester to make your study more comfortable and versatile from year to year.
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between top" fxLayoutGap="30px" class="course-card-wrapper common-container">
      <div class="course-card">
        <div class="img-wrapper">
          <img src="../../../../assets/images/financial-analyst-course.jpg">
        </div>
        <div class="img-title">
          <a href="#">Financial Analyst Course</a>
        </div>
      </div>
      <div class="course-card">
        <div class="img-wrapper">
          <img src="../../../../assets/images/graphic-design-course.jpg">
        </div>
        <div class="img-title">
          <a href="#">Graphic Design Course</a>
        </div>
      </div>
      <div class="course-card">
        <div class="img-wrapper">
          <img src="../../../../assets/images/digital-marketing-course.jpg">
        </div>
        <div class="img-title">
          <a href="#">Digital Marketing Course</a>
        </div>
      </div>
      <div class="course-card">
        <div class="img-wrapper">
          <img src="../../../../assets/images/legal-practice-course.jpg">
        </div>
        <div class="img-title">
          <a href="#">Legal Practice Course</a>
        </div>
      </div>
    </div>
    <div class="view-all-course-btn" fxLayout="row" fxLayoutAlign="center center">
      <a class="primery-btn" href="#">View All Courses</a>
    </div>
  </div>
  <div class="our-teachers-wrapper">
    <div class="our-teachers common-container">
    <h1>Our Management</h1>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="30px" class="teacher-img-wrapper">
      <div class="teacher-card">
        <div class="img-wrapper">
          <img src="../../../../assets/images/mamagemant-01.jpg">
        </div>
        <div class="name">Name 01</div>
        <div class="designation">Designation 01</div>
      </div>
      <div class="teacher-card">
        <div class="img-wrapper">
          <img src="../../../../assets/images/mamagemant-02.jpg">
        </div>
        <div class="name">Name 02</div>
        <div class="designation">Designation 02</div>
      </div>
      <div class="teacher-card">
        <div class="img-wrapper">
          <img src="../../../../assets/images/mamagemant-03.jpg">
        </div>
        <div class="name">Name 03</div>
        <div class="designation">Designation 03</div>
      </div>
    </div>
  </div>
  </div>
  <div class="testimonials-wrapper common-container">
    <h1>Testimonials</h1>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="30px" class="testimonials">
      <div class="testimonials-card">
        "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old"
        <div class="auther">
          <p class="name">Name 01</p>
          <p class="designation">Designation</p>
        </div>
      </div>
      <div class="testimonials-card">
        "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old"
        <div class="auther">
          <p class="name">Name 02</p>
          <p class="designation">Designation</p>
        </div>
      </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="30px" class="testimonials">
        <div class="testimonials-card">
          "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old"
          <div class="auther">
            <p class="name">Name 03</p>
          <p class="designation">Designation</p>
          </div>
        </div>
        <div class="testimonials-card">
          "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old"
          <div class="auther">
            <p class="name">Name 04</p>
          <p class="designation">Designation</p>
          </div>
      </div>
    </div>
  </div>
  <app-main-footer></app-main-footer>
</div>
