<div class="footer-wrapper">
  <div fxLayout="row" fxLayoutAlign="space-between top" fxLayoutGap="40px" class="footer common-container">
    <div class="about-us" fxFlex="33%">
      <h3>About Us</h3>
      Our university offers high-quality education to students inside and outside of the USA. Our aim is to support our students as they become highly employable, creative, and culturally rich graduates, with the capacity to find employment that will enable them to be agents for change in a connected world.
    </div>
    <div class="recent-events" fxFlex="33%">
      <h3>Recent Events</h3>
      <div class="events-des"><a href="#">Studying in the United States: Top 10 Facts You Need to Know About</a>
        <p class="date">2 days ago</p>
      </div>
      <div class="events-des last"><a href="#">Studying in the United States: Top 10 Facts You Need to Know About</a>
        <p class="date">2 days ago</p>
      </div>
    </div>
    <div class="gallery">
      <h3>Gallery</h3>
      <div class="gal-img" fxLayout="row" fxLayoutAlign="space-between top" fxLayoutGap="10px">
        <a href="#"><img src="../../../../assets/images/footer-gal-01.jpg"></a>
        <a href="#"><img src="../../../../assets/images/footer-gal-02.jpg"></a>
        <a href="#"><img src="../../../../assets/images/footer-gal-03.jpg"></a>
        <a href="#"><img src="../../../../assets/images/footer-gal-04.jpg"></a>
      </div>
      <div class="gal-img" fxLayout="row" fxLayoutAlign="space-between top" fxLayoutGap="10px">
        <a href="#"><img src="../../../../assets/images/footer-gal-05.jpg"></a>
        <a href="#"><img src="../../../../assets/images/footer-gal-06.jpg"></a>
        <a href="#"><img src="../../../../assets/images/footer-gal-07.jpg"></a>
        <a href="#"><img src="../../../../assets/images/footer-gal-08.jpg"></a>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between top" class="footer-menu common-container">
    <div class="footer-nav">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Academics</a></li>
        <li><a href="#">Campus</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Contacts</a></li>
      </ul>
    </div>
    <div class="footer-icons">
      <ul>
        <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="copywright common-container">
      <div fxLayout="row" class="footer-logo-wrapper">
        <div class="logo-img"><img src="../../../../assets/images/logo-img.svg"></div>
        <div fxLayout="column" class="logo-txt">
          <span class="name">Gayathri Vidya Mandir</span>
          <span class="place">Vazhappalli</span>
        </div>
      </div>
    <div class="copyright">
      © 2020 All Rights Reserved. <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
    </div>
  </div>
</div>
