.footer {
  padding: 70px 0;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  line-height: 1.5;
  h3 {
    margin-bottom: 20px;
  }
  .events-des {
    margin-bottom: 40px;
    margin-right: 60px;
    .date {
      text-align: right;
    }
    &.last {
      margin-bottom: 0;
    }
  }
  .gal-img {
    margin-bottom: 5px;
  }
}
.footer-menu {
  padding: 30px 0;
  .footer-nav {
    ul {
      display: flex;
      li {
        font: 400 14px/20px "Oswald", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        letter-spacing: .08em;
        text-transform: uppercase;
        margin-right: 50px;
        a {

        }
      }
    }
  }
}
.footer-icons {
  ul {
    display: flex;
    li {
      margin-left: 30px;
      a {
        font-size: 24px;
      }
    }
  }
}
.copyright {

}
.footer-logo-wrapper {
  padding: 20px 0;
  .logo-img {
    width: 55px;
    height: 60px;
    img {
      height: 100%;
    }
  }
  .logo-txt {
    margin-top: 14px;
    text-transform: uppercase;
    .name {
      font-family: 'impact', Arial, Helvetica, sans-serif;
      font-size: 18px;
    }
    .place {
      font-family: Arial, Helvetica, sans-serif;
      margin: -5px 0 0 2px;
      font-size: 12px;
    }
  }
}
