<div fxLayout="row" fxLayoutAlign="space-between center" class="header">
  <div fxLayout="row" class="logo-wrapper">
    <div class="logo-img"><img src="../../../../assets/images/logo-img.svg"></div>
    <div fxLayout="column" class="logo-txt">
      <span class="name">Gayathri Vidya Mandir</span>
      <span class="place">Vazhappalli</span>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="info-wrapper">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="info margin-right-50">
      <div class="icon-wrapper round-div phone">
        <i class="fa fa-phone"></i>
      </div>
      <div>
        <p>+91 9934253458</p>
        <p>+91 9934253458</p>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="info">
      <div class="icon-wrapper round-div map">
        <i class="fa fa-map-marker"></i>
      </div>
      <div>
        <p>Vazhappalli P O</p>
        <p>Changanacherry - 686541</p>
      </div>
    </div>
  </div>
</div>
