// primery background colours
$white_bg: #FFF;
$gray_bg: #f6f6f6;
$banner_bg: #6b6850;
$black_bg: #000;

// Primery font colours
$white: #FFF;

// Border colour
$gray_border: #323235;
$light_gray_border: #e8e9ee;

// Primery shared colours
$primery_blue: #00d9db;
$gray_font: #74757f;
$primery_orange: #f8901f;
$black: #000;

// Other font colours
$light_black: #151515;
